* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

body {
  margin: 2rem;
  background-color: #f5f5f5;
}

main {
  display: flex;
  gap: 2rem;
  font-size: 0.75rem;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1rem;
}

h2 {
  font-size: 1rem;
}

.shopping-card {
  background-color: white;
  width: 22rem;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.04);
}

.card-header {
  position: relative;
  height: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem 1rem 0 0;
}

.card-header-asics {
  background-image: linear-gradient(0deg, white 0%, rgba(0, 0, 0, 0) 50%),
    url("https://images.unsplash.com/photo-1560072810-1cffb09faf0f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

.card-header-adidas {
  background-image: linear-gradient(0deg, white 0%, rgba(0, 0, 0, 0) 50%),
    url("https://camo.githubusercontent.com/3c412b173fef73e3c44a5aad8330234d4809c03cbc2a0dde18f260707616ed00/68747470733a2f2f696d616765732e756e73706c6173682e636f6d2f666c61676765642f70686f746f2d313535363633373634302d3263383064333230316265383f69786c69623d72622d312e322e3126697869643d4d6e77784d6a4133664442384d48787761473930627931775957646c66487838664756756644423866487838266175746f3d666f726d6174266669743d63726f7026773d3134373026713d3830");
}

.card-header-newbalance {
  background-image: linear-gradient(0deg, white 0%, rgba(0, 0, 0, 0) 50%),
    url("https://camo.githubusercontent.com/418e0658bb2b6ba856b9fdaa1b668d92516bc8dfa3ee253e57ab44cb9412b019/68747470733a2f2f696d616765732e756e73706c6173682e636f6d2f70686f746f2d313533393138353434313735352d3736393437336132333537303f697869643d4d6e77784d6a4133664442384d48787761473930627931775957646c664878386647567566444238664878382669786c69623d72622d312e322e31266175746f3d666f726d6174266669743d63726f7026773d3134373126713d3830");
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.63);
  margin: 0.75rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

.credit {
  position: absolute;
  bottom: 1rem;
  font-size: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 0.5rem;
}

.card-content {
  padding: 1rem;
}

.product-description {
  color: #a5a5a5;
}

.cart-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 0.75rem;
  gap: 1rem;
}

.price {
  background-color: white;
  grid-column: span 2;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.selection-wrapper {
  display: flex;
  gap: 1rem;
}

.selector-field {
  width: 2.75rem;
  border-style: none;
  font-family: inherit;
}

.color-selection-wrapper {
  display: flex;
  gap: 0.5rem;
  grid-column: span 2;
}

form {
  display: flex;
  gap: 0.5rem;
}

.only-screenreader {
  position: absolute;
  visibility: hidden;
}

.color-circle {
  height: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.color {
  visibility: hidden;
  position: absolute;
}

.color:checked + label > .color-circle {
  outline: 0.1rem solid grey;
  outline-offset: 0.1rem;
}

.blue {
  background-color: #1f55af;
}

.red {
  background-color: #da4841;
}

.black {
  background-color: black;
}

.green-black {
  background-image: linear-gradient(90deg, #989737 50%, black 50%);
}

.blue-black {
  background-image: linear-gradient(90deg, #588ad8 50%, black 50%);
}

.pink-black {
  background-image: linear-gradient(90deg, #d3658e 50%, black 50%);
}

.red-white {
  background-image: linear-gradient(90deg, #ce3329 50%, white 50%);
}

.black-white {
  background-image: linear-gradient(90deg, black 50%, white 50%);
}

.cart-button {
  grid-column: span 2;
}
.button {
  color: white;
  background-color: #495fb9;
  border: none;
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
  border-radius: 0.25rem;
}

.button:hover {
  background-color: #324280;
  cursor: pointer;
}

.button:active {
  background-color: #697cca;
}
